{{!-- <section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">PRODUCTS</h1>
            <p class="lead text-muted">yumyum fr ong moment</p>
            <hr class="featurette-divider">
        </div>
    </div>
</section>
<div class="album py-5 text-dark">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {{#if products}}
            {{#each products}}


            <div class="col">
                <div class="card shadow-sm">
                    <a href="#">
                        <img src="media\FULLY ASSEMBLED TOFU65 E-WHITE MECHANICAL KEYBOARD WITH EBPT X GOK BOW KEYCAPS.jpg"
                            width="100%" height="100%">
                    </a>

                    <div class="card-body">
                        <p class="card-text">TOFU65 E-WHITE MECHANICAL KEYBOARD WITH EBPT X GOK BOW KEYCAPS <br>(FULLY
                            ASSEMBLED)</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-muted">S$288.00</small>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

            {{else}}
            <h3>No Products Currently</h3>
            {{/if}}


        </div>
    </div>
</div> --}}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">PRODUCTS</h1>
            <p class="lead text-muted">Browse our wide selection of pastries</p>
            <hr class="featurette-divider">
        </div>
    </div>
</section>
{{#if products}}
<div class="album py-5 text-dark">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each products}}
            <div class="col mx-auto">
                <div class="card shadow-sm">
                    <a href="{{posterURL}}">
                        <img src="{{posterURL}}" alt="Poster" width="100%" height="100%">
                    </a>
                    <div class="card-body">
                        <h3>{{item}}</h3>
                        <div class="mb-3">
                            {{description}}
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                            </div>
                            <small class="text-muted">
                                S${{price}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}


        </div>
    </div>
</div>
{{/if}}

{{!-- <div class="container">
    {{#if products}}
    <div class="card card-body">
        <h3 class="text-primary">
            Products
        </h3>
        <h3 class="card border-primary mb-2 w-100 mx-auto">
            <div class="card-header">
                <h5 class="card-title">
                    {{item}}
                </h5>
            </div>
        </h3>
    </div>
    {{/if}}
</div> --}}

<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
    });
</script>